<div class="flex flex-col h-full p-4 pb-24 overflow-y-auto" x-show="activeTab === 'editor'">
  <div class="flex flex-col h-full space-y-4 lg:space-y-6">
    <div id="class-attribute-manager" class="flex flex-col flex-1 min-h-0">
      <div class="flex items-center justify-between p-2 rounded-t-lg bg-base-100">
        <span class="text-xs font-semibold">Classes</span>
        <div class="flex space-x-2">
          <i class="text-xs ri-layout-grid-line"></i>
          <i class="text-xs ri-layout-row-line"></i>
          <i class="text-xs ri-layout-column-line"></i>
          <i class="text-xs ri-layout-masonry-line"></i>
        </div>
      </div>
      <div class="flex-1 min-h-0 overflow-y-auto bg-black border rounded-b-lg border-base-content/20">
        <div id="class-manager-editor" class="w-full h-full overflow-y-auto"></div>
      </div>
    </div>

    <div id="inner-html-manager" class="flex flex-col flex-1 min-h-0">
      <div class="flex items-center justify-between p-2 rounded-t-lg bg-base-100">
        <span class="text-xs font-semibold">InnerHTML</span>
        <div class="flex space-x-4">
          {# add tool tips #}
          <i x-on:click="onSelectChild()" class="text-xs ri-corner-right-down-fill"></i>

          <i x-on:click="onSelectParent()" class="text-xs ri-corner-right-up-fill"></i>
          <i x-on:click="AgnosticState.tab = 'Code'" class="text-xs ri-code-line"></i>
        </div>
      </div>
      <div class="flex-1 min-h-0 overflow-y-auto bg-black border rounded-b-lg border-base-content/20">
        <div id="inner-html-editor" class="w-full h-full overflow-y-auto"></div>
      </div>
    </div>

    <div id="attributes-manager" class="flex flex-col flex-1 min-h-0">
      <div class="flex items-center justify-between p-2 rounded-t-lg bg-base-100">
        <span class="text-xs font-semibold">Attributes</span>
        <div class="flex space-x-2">
          <i class="text-xs ri-at-line"></i>
          <i class="text-xs ri-key-line"></i>
          <i class="text-xs ri-hashtag"></i>
          <i class="text-xs ri-price-tag-3-line"></i>
        </div>
      </div>
      <div class="flex-1 min-h-0 overflow-y-auto bg-black border rounded-b-lg border-base-content/20">
        <div id="attributes-editor" class="w-full h-full overflow-y-auto"></div>
      </div>
    </div>
    <div></div>
  </div>
</div>

{{ include('@components/editor/store') }}
{{ include('@components/editor/init.html') }}
