<div class="flex flex-col items-center w-1/4 h-full p-4 overflow-y-auto bg-base-300">
    <!-- Horizontal Join with icons for Settings, Routing, Code, and Builder -->
    <div class="mx-auto mb-4 join join-horizontal">
      <button
        class="btn join-item btn-sm"
        :class="{ 'btn-active': settings_tab === 'Settings' }"
        x-on:click="settings_tab = 'Settings'"
        data-tippy-content="Settings"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </button>
      <button
        class="btn join-item btn-sm"
        :class="{ 'btn-active': settings_tab === 'Routing' }"
        x-on:click="settings_tab = 'Routing'"
        data-tippy-content="Routing"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
        </svg>
      </button>
      <button
        class="btn join-item btn-sm"
        :class="{ 'btn-active': settings_tab === 'Code' }"
        x-on:click="settings_tab = 'Code'"
        data-tippy-content="Global Header / Footer"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
        </svg>
      </button>
      <button
        class="btn join-item btn-sm"
        :class="{ 'btn-active': settings_tab === 'Builder' }"
        x-on:click="settings_tab = 'Builder'"
        data-tippy-content="Builder"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
        </svg>
      </button>
    </div>

    <!-- Routing tabs as vertical join -->
    <div x-show="settings_tab == 'Routing'" class="w-full text-left join join-vertical">
      <template x-for="tab in tabs" :key="tab">
        <button 
          class="text-left btn join-item"
          :class="{ 'btn-active': activeTab === tab }"
          @click="activeTab = tab"
          x-text="tabLabels[tab]"
        ></button>
      </template>
    </div>
  </div>